.activeApp {
  text-align: center;
}

body{
  margin: 0;
}

.applogo {
  height: 40vmin;
  pointer-events: none;
}
.status {
  height: 40vmin;
  pointer-events: none;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.activeAppheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.applink {
  color: #61dafb;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 3px;
  color: white;
}

 /* unvisited link */
 a:link {
  color: #f8d400;
}

/* visited link */
a:visited {
  color: #b59002;
}

/* mouse over link */
a:hover {
  color: #f8d400;
}

/* selected link */
a:active {
  color: #b59002;
} 