.activeApp {
  text-align: center;
}

body{
  margin: 0;
}

.applogo {
  height: 40vmin;
  pointer-events: none;
}
.status {
  height: 40vmin;
  pointer-events: none;
}

.activeAppheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.applink {
  color: #61dafb;
}
